deployment:
  replicaCount: 1

  serviceAccount:
    annotations:
      eks.amazonaws.com/role-arn: "arn:aws:iam::483945769383:role/grafana-lgmt-proxy"

  extraEnvs:
    - name: AWS_SECRETS_NAMES
      value: "grafana-lgmt-proxy-secrets"

  autoscaling:
    enabled: false

  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
