deployment:
  replicaCount: 3

  serviceAccount:
    annotations:
      eks.amazonaws.com/role-arn: "arn:aws:iam::853009479172:role/grafana-lgmt-proxy"

  encryptedValues:
    GRAFANA_CLOUD_PROMETHEUS_ORG_ID: "PLACEHOLDER_ENCRYPT_WITH_PROD_KEY"
    GRAFANA_CLOUD_LOKI_ORG_ID: "PLACEHOLDER_ENCRYPT_WITH_PROD_KEY"
    GRAFANA_CLOUD_TEMPO_ORG_ID: "PLACEHOLDER_ENCRYPT_WITH_PROD_KEY"
    GRAFANA_CLOUD_OTLP_ORG_ID: "PLACEHOLDER_ENCRYPT_WITH_PROD_KEY"
    GRAFANA_CLOUD_ACCESS_TOKEN: "PLACEHOLDER_ENCRYPT_WITH_PROD_KEY"

  autoscaling:
    enabled: true
    minReplicas: 3
    maxReplicas: 10
    targetCPUUtilizationPercentage: 70

  resources:
    requests:
      cpu: 500m
      memory: 512Mi
    limits:
      cpu: 2000m
      memory: 1Gi
