deployment:
  replicaCount: 2

  name: grafana-lgmt-proxy

  service:
    enabled: true
    port: 8085
    targetPort: 8085

  additionalPorts:
    - containerPort: 8085
      name: http
      protocol: TCP

  image:
    repository: 534042329084.dkr.ecr.us-east-1.amazonaws.com/developers/grafana-lgmt-proxy
    command:
      - /bin/sh
      - -c
    args:
      - secrets-manager-go --kms-key alias/cmk-grafana-lgmt-proxy-secrets-manager -- node dist/index.js

  encryptionKeys:
    dev: "bc375252eec6ff07d9a5056b0faaf9ed2b451a787310f7ea4db9595ec8f8c2ee"
    stage: "667c5048f08351325222a86532d0c731e902297c05d959bc929ba922eea11e73"
    prod: "c36b94e43288614f16193a310eb2681e9b78f6e3e7f262eeb118d9e94bd064fa"
    shared: "d2d6434fcd97db109fb64849cb5a49c0679fa4a9d226905478745ec57301d93a"

  serviceAccount:
    enabled: true

  globalEnvs:
    - name: PORT
      value: "8085"
    - name: GRAFANA_CLOUD_PROMETHEUS_URL
      value: "https://prometheus-prod-56-prod-us-east-2.grafana.net"
    - name: GRAFANA_CLOUD_LOKI_URL
      value: "https://logs-prod-036.grafana.net"
    - name: GRAFANA_CLOUD_TEMPO_URL
      value: "https://tempo-prod-26-prod-us-east-2.grafana.net"
    - name: GRAFANA_CLOUD_OTLP_URL
      value: "https://otlp-gateway-prod-us-east-2.grafana.net"

  livenessProbe:
    enabled: true
    path: /health
    port: 8085
    initialDelaySeconds: 10
    periodSeconds: 30
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 3

  readinessProbe:
    enabled: true
    path: /ready
    port: 8085
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 3

  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      cpu: 1000m
      memory: 512Mi

  autoscaling:
    enabled: false

  nodeSelector:
    kubernetes.io/arch: amd64

  containerSecurityContext:
    readOnlyRootFilesystem: true
